# Check Validity

In [213]:
def check_validity(dnaseq):
    dnaseq = dnaseq.lower()
    valids = "actg"
    for base in dnaseq: #iterating through the dna sequence
        if base in valids: #checking if base is valid
            pass
        else: 
            return False #base not valid
    return True #tested every base, without returning false, so valid dna sequence

In [214]:
check_validity('AGTCGAB')

False

# Reverse Complement

In [215]:
def reverse_complement(dnaseq):
    if check_validity(dnaseq): #check validity of dna sequence
        dnaseq = dnaseq.lower()
        #now reverse complement dna sequence
        dnaseq= dnaseq[::-1]
        dict = {'a': 't', 'c': 'g', 't':'a', 'g':'c'} #created a dictionary of complementary bases
        output = ''
        for base in dnaseq:
            output += dict[base] #bases are adding to the output string 
        return output.upper() #the output is in upplowercase

In [216]:
reverse_complement('AACACTA')

'TAGTGTT'

In [217]:
def quality_bases(dnaseq):
    uDict = ['A', 'C', 'T', 'G','N'] #created a dictionary of complementary bases
    lDict = ['a', 't', 'c', 'g','n'] #created a dictionary of complementary bases
    uCount = 0
    lCount = 0
    for base in dnaseq:
        if base in uDict:
            uCount += 1
        elif base in lDict:
            lCount += 1
    print('High quality bases: ' + str(uCount))
    print('Low quality bases: ' + str(lCount))

In [218]:
quality_bases('nnATAatgGCccaaaACGTCcatagcgTCACAgtca')

High quality bases: 15
Low quality bases: 21

# Basic Pandas Practice

In [219]:
import pandas as pd

In [220]:
# a dictionary of data sets to convert to tabular data
students_db = {
    "name": ["John Henry", "Asha", "Michelle", "Pravat", "Jason"],
    "major": ["Bio", "Bio Chem and Math", "CS", "CS", "CS"],
    "age": [19, 18, 19, 18, 19]
}
students = pd.DataFrame(students_db) # create a Python data frame
students

   age              major        name
0   19                Bio  John Henry
1   18  Bio Chem and Math        Asha
2   19                 CS    Michelle
3   18                 CS      Pravat
4   19                 CS       Jason

In [221]:
students.shape # print the rows and columns (dimensions)

(5, 3)

In [222]:
students = students.set_index("name") # set the index to the name, which is the unique identifier among us

In [223]:
students.loc["Asha",['major','age']]

major    Bio Chem and Math
age                     18
Name: Asha, dtype: object

In [224]:
non_cs_students = students[students["major"] != "CS"]

In [225]:
students_classes = pd.Series([5, 5, 5, 5, 5], index=['John Henry', 'Asha', 'Michelle', 'Pravat', 'Jason'])
students["classes"] = students_classes

In [226]:
non_cs = pd.DataFrame(non_cs_students)
non_cs

            age              major
name
John Henry   19                Bio
Asha         18  Bio Chem and Math

# Top 3 3-mers in a DNA Sequence

In [227]:
# find the top 3 3-mers (3 bases) that occur the most often
def top_3_mers(dnaseq):
    three_mers = {}
    
    three_mer = 3 # a 3-mer as 3 bases
    current_3_mer = "" # the current 3 base sequence
    for base in dnaseq:
        # add up the base to the 3-mer String
        current_3_mer += base
        
        # if the current_3_mer has 3 bases
        if len(current_3_mer) == three_mer:
            # first check if the key doesn't exist, then set it
            if current_3_mer not in three_mers.keys():
                three_mers[current_3_mer] = 0
            three_mers[current_3_mer] += 1 # increment this 3-mer's occurance
            current_3_mer = "" # reset the 3-mer
    
    # pretty print the top 3-mers
    def pretty_print_top_3_mers(three_mers):
        three_mers_names = []
        three_mers_occurrences = []
        for three_mer, occurrences in three_mers.items():
            # append each 3-mer name and occurrence
            three_mers_names.append(three_mer)
            three_mers_occurrences.append(occurrences)

        # create a pandas data frame for the data-set
        three_mers_df = pd.DataFrame({
            "3-mer": three_mers_names,
            "occurrences": three_mers_occurrences
        })
        three_mers_df = three_mers_df.set_index("3-mer") # set the indexing to 3-mer
        three_mers_df = three_mers_df.sort_values(by=["occurrences"], ascending=False) # sort in-reverse
        print(three_mers_df.head(3)) # print the top 3-mers
        
    # run the pretty print of the top 3-mers
    pretty_print_top_3_mers(three_mers)

# run the function
top_3_mers("AAACACTAACACTACCTGAGTAAAAACACA")

       occurrences
3-mer
CAC              2
AAA              2
TAC              1